/* You can add global styles to this file, and also import other style files */
@import "assets/variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1024px;
    margin: 0 auto;
  }
}

ul.unstyled-list-row {
  display: flex;
  list-style: none;
  padding-inline-start: 0;

  & > li {
    margin-right: 20px;
  }
}
